# general
*.vscode
*.out
*.exe
*.pyc
*.ipynb_checkpoints

# extras
Extra
misc
*tt*
*trial*
resources
*.zip
*.rar
*Parallel-K-Means*

# matlab
*.jpg
*.jpeg
*.png
*.tif
*.mp3
*.wav
*.m~

# files
*.docx
*.odt*



